<div class="header-container">
    <div class="logo">
        <img src="../../../assets/images/logo.svg" alt="logo">
    </div>
    <div class="nav-links">
        <a routerLink="/upload-resume" [routerLinkActive]="'active'" class="nav-link">Upload resume</a>
        <a routerLink="/about-us" [routerLinkActive]="'active'" class="nav-link">About us</a>
        <a routerLink="/plans" [routerLinkActive]="'active'" class="nav-link">Plans</a>
    </div>
    <div class="login-signup-block">
        <div>Sign up</div>
        <div>Login</div>
    </div>
</div>
