.payment-success {
    display: flex;
    flex-direction: column;
    place-items: center;

    .success-icon {
        margin-top: 110px;
        box-shadow: 0 0 0 10px rgba(211, 243, 238, 1), 
        0 0 0 15px rgba(211, 243, 238, 0.1), 
        0 0 0 20px rgba(211, 243, 238, 0.5);
        width: 58px;
        height: 58px;
        background: #4BE074;
        display: flex;
        place-content: center;
        border-radius: 50%;

    }
    .title {
        margin-top: 36px;
        font-family: Lato;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        color: #000000;
    }
    .sub-title-1 {
        margin-top: 32px;
        font-family: Lato;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        color: #5B5B5B;

    }
    .sub-title-2 {
        margin-top: 16px;
        font-family: Lato;
        font-weight: 300;
        font-style: italic;
        font-size: 20px;
        line-height: 100%;
        color: #000000;
    }
    .sub-title-3 {
        margin-top: 66px;
        font-family: Lato;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color:  #000000;        
    }

     .next-button {
        background-color: #ff9100;
        color: white;
        padding: 12px 60px 14px 60px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 80px;
        letter-spacing: 1px;
        font-family: Lato;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing:0.75px;

    }
}

@media only screen and (max-width: 767px) {
    .payment-success {
        margin: 0 60px;
        .success-icon {
            margin-top: 60px !important;
        }
        .title {
            font-family: Lato;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 4%;

        }
        .sub-title-1 {
            font-family: Lato;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 4%;
            text-align: center;
            margin-top: 36px;

        }
        .sub-title-2 {
            font-family: Lato;
            font-weight: 300;
            font-style: italic;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 4%;
            text-align: center;
            margin-top: 36px;

        }
        .next-button {
           margin-top: 36px;
        }
    }
}