<div class="payment-success">
    <div class="success-icon">
        <img src="../../../../assets/images/tick1.svg" alt="success" />
    </div>

    <div class="title">Payment Successful </div>
    <div class="sub-title-1">Thank you for upgrading to Jobixa Premium</div>
    <div class="sub-title-2">We’ve also emailed your receipt and feedback access.</div>
    <div class="sub-title-3">You’re signed in as john.doe&#64;gmail.com</div>
    <div class="sub-title-4">
        <a href="">Set a password or link your Google account</a>
    </div>

</div>