<div class="payment-success">
    <div class="success-icon">
        <img src="assets/images/tick1.svg" alt="success" />
    </div>

    <div class="title">Payment Successful </div>
    <div class="sub-title-1">Thank you for upgrading to Resuvia Premium</div>
    <div class="sub-title-2">We’ve also emailed your receipt and feedback access.</div>
    <div class="button-container d-flex justify-content-center align-items-center">
        <button class="next-button" (click)="redirectTo('upload-resume')">Next</button>
    </div>

</div>