<div class="sub-header-container">
    <div class="header-text d-flex justify-content-center align-items-center"><span class="title">Instantly Improve Your Resume with AI</span></div>
    <div class="menus">
        <div [ngClass]="{'active': pageType() === 'resume-upload'}">Upload Your Resume</div>
        <div [ngClass]="{'active': pageType() === 'ats-score'}">Instant ATS Analysis</div>
        <div [ngClass]="{'active': pageType() === 'action-feedback'}">Get Actionable Feedback</div>
    </div>
</div>