<app-sub-header [pageType]="pageType"></app-sub-header>

    <div class="resume-upload-container">
       <app-dropbox (onFileDropped)="onFileDropped($event)" (fileBrowseHandler)="fileBrowseHandler($event)" 
       [title]="dropBoxTitle()"
       subTitle="PDF, DOCX supported"
       ></app-dropbox>
        <div class="upload-footer">
            @if(buttonTitle() === 'Upload'){ 
                <button class="upload-btn" appDnd (fileBrowseHandler)="fileBrowseHandler($event)">{{buttonTitle()}}</button>
            }
            @else{
                <button class="upload-btn" (click)="uploadFiles()">{{buttonTitle()}}</button>
            }
            <p class="button-text">Upload your resume now for a free ATS analysis!</p>
            <div class="footer">
                <p class="text">Check if you’ll get shortlisted…</p>
                <p class="text">Improve it like a recruiter would</p>
                <p class="text">Get a custom AI Cover Letter</p>
            </div>
        </div>
    </div>


