.resume-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

   
    .upload-footer {
        margin-top: 32px;
        text-align: center;
        .upload-btn {
            width: 200px;
            height: 48px;
            border-radius: 10px;
            background: #FF9500;
            color: #FFFFFF;
            outline: none;
            padding: 0;
            border-style: none;
            font-family: Lato;
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
        }
        .button-text {
            font-family: Lato;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            color: #7D7D7D;
            margin-top: 22px;
        }
    }


    .footer {
        font-family: Lato;
        font-weight: 900;
        font-size: 16px;
        line-height: 100%;
        letter-spacing:0.75px;
        display: flex;
        gap: 40px;
        margin-bottom: 70px;
        .text{
           background:  linear-gradient(90.4deg, #424242 -5.44%, #050099 38.62%, #C701DD 92.05%);
            background-clip: text;
            color: transparent;
            margin: 0;
        }
    }
}   


@media only screen and (max-width: 767px) {
   .resume-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

   
    .upload-footer {
        margin-top: 32px;
        text-align: center;
        .upload-btn {
            width: 200px;
            height: 48px;
            border-radius: 10px;
            background: #FF9500;
            color: #FFFFFF;
            outline: none;
            padding: 0;
            border-style: none;
            font-family: Lato;
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
        }
        .button-text {
            padding: 0 75px;
            font-family: Lato;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 4%;
            text-align: center;
            color: #7D7D7D;
            margin-top: 22px;
        }
    }


    .footer {
        font-family: Lato;
        font-weight: 900;
        font-size: 16px;
        line-height: 100%;
        letter-spacing:0.75px;
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        gap: 10px;
        .text{
           background:  linear-gradient(90.4deg, #424242 -5.44%, #050099 38.62%, #C701DD 92.05%);
            background-clip: text;
            color: transparent;
            margin: 0;
        }
    }
} 

    


}