<div class="resume-summary-container">
    <div class="resume-summary">
        <div class="resume-score-block d-flex justify-content-center align-items-center">
            <div class="score-text-box d-flex flex-column align-items-start">
                <div class="score-title">Your resume score</div>
                <div class="scre-value-text">72 out of 100</div>
            </div>
            <div class="score-percentage-block d-flex align-items-center">
                <div class="score-percentage-box" >
                    <span class="score-percentage" style="width: 72%;">72%</span>
                </div>
            </div>
        </div>
    </div>

    <div class="review-points-container">
        <div class="review-card">
            <div class="card-header">Formatting</div>
            <div class="card-block2">
                <div class="card-percentage">72%</div>
                <div class="card-status">Average</div>
            </div>
        </div>

        <div class="review-card">
            <div class="card-header">Formatting</div>
            <div class="card-block2">
                <div class="card-percentage">72%</div>
                <div class="card-status">Average</div>
            </div>
        </div>

        <div class="review-card">
            <div class="card-header">Formatting</div>
            <div class="card-block2">
                <div class="card-percentage">72%</div>
                <div class="card-status">Average</div>
            </div>
        </div>

        <div class="review-card">
            <div class="card-header">Formatting</div>
            <div class="card-block2">
                <div class="card-percentage">72%</div>
                <div class="card-status">Average</div>
            </div>
        </div>

    </div>

    <div class="feedback-container">
        <feedback-card></feedback-card>
    </div>

</div>
