<div class="ats-score-container">
    <div class="pie-chart">
       <app-chart></app-chart>
       <div class="chart-text">Your resume score 76 out of 100</div>
    </div>
    <div class="rating-container">
        <div class="rating-box-container">
            <div class="rating-box">
                <div class="label">Formatting</div>
                <div class="data">
                    <div class="score-percent">72%</div>
                    <div class="score-value">average</div>
                </div>
            </div>
            <div class="rating-box"> <div class="label">Formatting</div>
            <div class="data">
                <div class="score-percent">72%</div>
                <div class="score-value">average</div>
            </div></div>
            <div class="rating-box"> <div class="label">Formatting</div>
            <div class="data">
                <div class="score-percent">72%</div>
                <div class="score-value">average</div>
            </div></div>
            <div class="rating-box"> <div class="label">Formatting</div>
            <div class="data">
                <div class="score-percent">72%</div>
                <div class="score-value">average</div>
            </div></div>
        </div>
        <div class="next-btn-container">

            <button class="next-btn d-flex place-content-center align-items-center justify-content-center" (click)="checkFeedbackCard()">Next <i class="bi bi-arrow-right ms-2"></i> </button>
        </div>
    </div>
    
</div>