.resume-summary-container{
    .resume-summary{
        display: flex;
        justify-content: center;
        margin-top: 36px;

        .resume-score-block {
            padding: 14px 30px;
            background: linear-gradient(90deg, #FFFFFF 0%, #F3F2F9 100%);
            border-radius: 15px;
        }
        .score-text-box {
            .score-title {
                font-size: 16px;
            }
            .scre-value-text {
                font-size: 20px;
            }
        }
        .score-percentage-block {
            margin-left: 12px;
            .score-percentage-box {
                background-color: #FFFFFF;
                width: 140px;  
                height: 28px;
                border-radius: 10px;
                .score-percentage {
                    background-color:  rgba(111, 192, 39, 1);
                    color: #FFFFFF;
                    border-radius: 10px;
                    height: 28px;
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing:0.75px;
                    padding-left: 10px;
                    vertical-align: middle;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .review-points-container {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 24px;
        .review-card {
            width: 176px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 18px 24px;
            border: 1px solid rgba(244, 244, 244, 1);
            border-radius: 15px;

            .card-header {
                font-size: 12px;
                font-family: Lato;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                letter-spacing:0.75px;

            }
            .card-block2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 10px;

                .card-percentage {
                    font-family: Lato;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing:0.75px;

                }
            
                .card-status {
                color: rgba(216, 129, 99, 1);
                background: rgba(253, 244, 231, 1);
                border-radius: 5px;
                padding: 5px;
                font-family: Lato;
                font-weight: 700;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 1;

                 }
            }

            
        }
    }
}


@media only screen and (max-width: 767px) {
    .resume-summary-container{
        .resume-summary{
            display: flex;
            justify-content: center;

            .resume-score-block {
                padding: 14px 30px;
                background: linear-gradient(90deg, #FFFFFF 0%, #F3F2F9 100%);
                border-radius: 15px;
            }
            .score-text-box {
                .score-title {
                    font-size: 14px;
                }
                .scre-value-text {
                    font-size: 16px;
                }
            }
            .score-percentage-block {
                margin-left: 12px;
            }
        }

        .review-points-container {
            flex-wrap: wrap;
        }
    }
}