<div class="feedback-card">
    

    <div class="feedback-header d-flex justify-content-between align-items-center">
      <h2 class="feedback-title">A few tweaks can make a big difference – review now.</h2>

        <div class="price-box d-flex justify-content-end align-items-start">
         <div class="d-flex justify-content-end align-items-center cover-letter">
           <div class="plus">+</div> Cover letter 
         </div>
         <div>
          <button class="price-button" (click)="redirectTo('payment')">Only for Rs 111</button>
            <p class="first-500-users">
            <small>For first 500 users</small>
          </p>
         </div>
         
      </div>
      
    </div>

    <div class="feedback-content">

      <div class="suggestion-box">
        <div class="suggestion">
          <div class="review-title">Grammar issue with suggested fix</div >
          <p class="suggested-text"><span class="review-points">Experience in managing team</span> → <span class="fix">“Experience managing a team”</span></p>
        </div>
      
        <div class="suggestion">
          <div class="review-title">Rephrasing suggestion</div >
          <p class="suggested-text"><span class="review-points">Worked on projects →</span> <span class="fix">“Led 5 high-impact product initiatives”</span></p>
        </div>
      </div>
          <div class="locked-section">
              <div class="lock-icon">
                <img src="../../../../../assets/images/unlocked.svg" alt="Locked" width="75" height="75" />
              </div>

              <div class="suggestion-box">
                  <div class="suggestion">
                    <div class="review-title">Grammar issue with suggested fix</div >
                    <p><span class="review-points">Experience in managing team</span> → <span class="fix">“Experience managing a team”</span></p>
                  </div>
                
                  <div class="suggestion">
                    <div class="review-title">Rephrasing suggestion</div >
                    <p><span class="review-points">Worked on projects →</span> <span class="fix">“Led 5 high-impact product initiatives”</span></p>
                  </div>
                </div>
            </div>
    </div>   
  </div>
  