<div class="feedback-card">
    <h2 class="feedback-title">A few tweaks can make a big difference – review now.</h2>
  
    <div class="suggestion">
      <div class="review-title">Grammar issue with suggested fix</div >
      <p><span class="review-points">Experience in managing team</span> → <span class="fix">“Experience managing a team”</span></p>
    </div>
  
    <div class="suggestion">
      <div class="review-title">Rephrasing suggestion</div >
      <p><span class="review-points">Worked on projects →</span> <span class="fix">“Led 5 high-impact product initiatives”</span></p>
    </div>
  
   <div class="locked-block d-flex justify-content-around align-items-start">
    <div class="locked-section">
        <div class="lock-icon">
          <img src="../../../../../assets/images/unlocked.svg" alt="Locked" width="75" height="75" />
        </div>
        <p class="locked-message">
          <span >Great things come from small changes — unlock your final 2 tips.</span>
        </p>
      </div>
    
      <div class="price-box d-flex flex-column">
        <button class="price-button">Only for Rs 111</button>
        <p class="cover-letter">
          <span class="plus">+</span> Cover letter <br />
          <small>For first 500 users</small>
        </p>
      </div>
   </div>
  </div>
  